<p id="notice"><%= notice %></p>
<div id="eventsJumbo" class="jumbotron">
  <h1>LEADERBOARD</h1>
</div>
<div class="row"></div>
	
<div class="row"></div>
<% @events.each do |event| %>
<div class="col-md-3">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2 img-centerimg-responsive">
       	<%= link_to (image_tag event.eventlogo.url(:thumb)), event %>
      </div>
    </div>
  </div>
</div>
<% end %>


